@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
}

/* #__next {
  height: 100%;
} */

/* pre {
  overflow-x: auto;
  padding: 1rem 0;
 
  background-color: #262626;
  background-color: #404040;

} */

/* pre {
margin: 0 -1rem;

} */


/* pre [data-line] {
  margin: 0 0rem;
  padding: 0 0rem;
} */

