@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
}

#__next {
  height: 100%;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  /* grid: false;
    width: 100%; */
  background-color: #262626;
  background-color: #404040;
}

pre [data-line] {
  padding: 0 1rem;
}

